<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.espino.manageproductrecycler">

    <application
        android:name="com.example.espino.manageproductrecycler.ProductApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.espino.manageproductrecycler.activities.LoginRelative">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.espino.manageproductrecycler.activities.ManageProduct_Activity"/>
        <activity android:name=".activities.Product_activity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.GeneralSettingActivity"/>
        <activity android:name=".activities.AccountSettingsActivity"/>
    </application>

</manifest>